{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<link rel="stylesheet" href="{% static 'css/seach.css' %}">

 <div class="container">
        <form action="{% url 'search' %}" method="GET" class="search-form">
            <input type="text" type="search" name="q" class="form-control" placeholder="Search">
            <button type="submit" class="btn btn-primary">Поиск</button>
        </form>
  

 <!-- Стили для поиска -->
 
<h1>Список телефонов</h1>
<button><a href="/create_phone/">Добавить</a></button>
<ul>
    {% for i in phones %}
        <h2>{{ i.title }}</h2>
        <a href="/phone_list/{{ i.id }}/">Подробнее</a>
    {% endfor %}
</ul>
   </div>
</body>
</html>