{% load static %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% for i in posts %}
    <center>
        <div class="card" style="width: 18rem;">
            <img src="{{ i.image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ i.title }}</h5>
                <p class="card-text">{{ i.created_at }}</p>
                <a href="/news/{{ i.id }}" class="btn btn-primary">подробнее</a>
            </div>
        </div>
    </center>
    <br>
{% endfor %}


<ul>
    {% for i in video_content %}
    <li>
    <h3>{{ i.title }}</h3>
        <iframe src="{{ i.url_video }}" frameborder="0"></iframe>
    </li>
    {% endfor %}
</ul>

{% include 'footer.html' %}