<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <ul>
        {% for i in object_list %}
        
            <li>
            <h1>Привет - {{ i.username }}</h1>
            <p>Почта - {{ i.email }}</p>
            <p>Имя - {{ i.first_name }}</p>
            <p>Возраст - {{ i.age }}</p>
            {% if i.club %}
            <p>Вы принадлежите к клубу - {{ i.club }}</p>
            {% else %}
            <p>Клуб не определен</p>
            {% endif %}
            </li>
            
        {% endfor %}
    </ul>
    <form action="{% url  'users:login' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Выйти</button>
    </form>


</div>

</body>
</html>